.red {
    background:red;
}
.blue {
    background:blue;
}
.green {
    background:green;
}
.white {
    background:white;
}
.gray {
    background:gray;
}
.pink {
    background:pink;
}
.yellow {
    background:yellow;
}
.black {
    background:black;
}